/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  margin-bottom: 20px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
  cursor: pointer;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

.list {
  justify-content: center;
  display: flex;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}
.field {
  display: flex;
  justify-content: space-around;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media only screen and (min-device-width: 768px) {
  .body-tablet {
    width: 150%;
  }
}
@media all and (min-width: 480px) {
  .fieldset {
    display: flex;
    justify-content: space-between;
  }
  .field {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
  .group {
    flex-direction: row;
  }

  .item {
    flex: 1;
    margin: 10px;
  }

  .item-double {
    flex: 2;
  }
  .image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .width-set {
    width: 100%;
  }
  .alt-img {
    width: 23%;
  }
  .size-format {
    width: 48%;
    padding-top: 45px;
  }
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .host-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .bottom-para {
    padding-top: 200px;
  }
  .body-tablet {
    width: 100%;
  }
  .myinput {
    width: auto;
  }
}
